private_key_path = "~/.ssh/id_rsa"
prometheus_cmon_cert_file_path = "/Users/username/.sdc/docker/acmeinc-dev/cert.pem"
prometheus_cmon_key_file_path = "/Users/username/.sdc/docker/acmeinc-dev/key.pem"
